body {
    font-family: var(--type-serif);
    font-size: var(--type-size);
    font-weight: var(--type-weight);
    line-height: var(--type-height);
    font-variant-numeric: var(--type-numeric);
    background-color: var(--color-background);
    color: var(--color-text);
}