:root {
    --type-serif: "Piazzolla", serif;
    --type-caps: "Piazzolla SC", serif;
    --type-mono: "Hack", monospace;
    --type-size: 18px;
    --type-weight: 400;
    --type-height: 1.4;
    --type-numeric: oldstyle-nums proportional-nums;
}

html {
    --color-background: #FBF9F2;
    --color-text: #2B2924;
}
