<div class="container-fluid">
  <div class="row">
      <h1 class="fw-light">About</h1>
  </div>
  <div class="row">
      <p class="fs-6">Software guy. Working to be better than yesterday.</p>
  </div>

<div class="row">
  @for (job of jobs; track job) {
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ job.position }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ job.headline }}
      </mat-card-content>
      <mat-card-footer>
        <mat-chip-set>
          @for (chip of job.chips; track chip) {
            <mat-chip>{{ chip }}</mat-chip>
          }
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
    <br>
  }
</div>
</div>
