<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
      {% if site.social.linkedin %}
      <a class="particles-icon" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">{% include svg/linkedin.svg %}</a>
      {% endif %}
      {% if site.social.github %}
      <a class="particles-icon" href="https://github.com/{{ site.social.github }}">{% include svg/github.svg %}</a>
      {% endif %}
      {% if site.social.x %}
      <a class="particles-icon" href="https://x.com/{{ site.social.x }}">{% include svg/x.svg %}</a>
      {% endif %}
      <a class="particles-icon" href="posts">{% include svg/blogpost.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
