<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Welcome</mat-toolbar>
    <mat-nav-list>
      @for (link of links; track link) {

        @if (isHandset$ | async) {
            <a
            mat-list-item href="#"
            routerLink="{{ link.link }}"
            routerLinkActive="active"
            (click)="drawer.toggle()"
          ><fa-icon [icon]="link.icon"></fa-icon>&nbsp;{{ link.name }}</a>
        } @else {
          <a
            mat-list-item href="#"
            routerLink="{{ link.link }}"
            routerLinkActive="active"
          ><fa-icon [icon]="link.icon"></fa-icon>&nbsp;{{ link.name }}</a>
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Wesley Montserrat</span>
    </mat-toolbar>
     <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
