<div class="p-5 mb-4 bg-body-tertiary rounded-3 text-center">
  @if (site.photo) {
      <img class="img-fluid rounded-circle" src="{{ site.photo }}" />
  }
  <h1>{{ site.title }}</h1>
  <h1>{{ site.tag }}</h1>
  <div>
    @if (site.social.linkedin) {
      <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}">
        <ng-icon name="bootstrapLinkedin"></ng-icon>
      </a>
    }
    @if (site.social.github) {
      <a href="https://github.com/{{ site.social.github }}">
        <ng-icon name="bootstrapGithub"></ng-icon>
      </a>
    }
    @if (site.social.x) {
      <a href="https://x.com/{{ site.social.x }}">
        <ng-icon name="bootstrapTwitterX"></ng-icon>
      </a>
    }
    <a href="posts">
      <ng-icon name="bootstrapBlockquoteLeft"></ng-icon>
    </a>
  </div>
</div>
<div>
  <a href="#scroll">
    <ng-icon name="bootstrapChevronDown"></ng-icon>
  </a>
</div>
