<div class="jumbotron text-center">
    @if (site.photo) {
        <img class="particles-photo" src="{{ site.photo }}" />
    }
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.tag }}</h1>
    <div class="nowrap">
      @if (site.social.linkedin) {
        <a class="particles-icon" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">
            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
      }
      @if (site.social.github) {
        <a class="particles-icon" href="https://github.com/{{ site.social.github }}">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
      }
      @if (site.social.x) {
        <a class="particles-icon" href="https://x.com/{{ site.social.x }}">
            <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon>
        </a>
      }
      <a class="particles-icon" href="posts">
        <fa-icon [icon]="['fas', 'blog']"></fa-icon>
      </a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">
        <fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
    </a>
  </div>
